{% extends 'default.html' %}

{% load i18n %}

{% load custom_filters %}

{% load custom_tags %}

{% block title %}
Posts
{% endblock title %}

{% block content %}
    <form action="{% url 'set_language' %}" method="POST"> {% csrf_token %} <!-- Не забываем по csrf_token для POST запросов -->
        <input type="hidden" name="next" value="{{ redirect_to }}">

        <select name="language" id="">
            {% get_available_languages as LANGUAGES %} <!-- получаем языки -->
            {% get_language_info_list for LANGUAGES as languages %} <!-- Помещаем их в список languages -->

            {% for language in languages %} <!-- Итерируясь по списку, выводим их название на языке пользователя и код -->
                <option value="{{ language.code }}" {% if language.code == LANGUAGE_CODE %} selected {% endif %}>
                    {{ language.name }} - {{ language.code }}
                </option>
            {% endfor %}
        </select>
        <input type="submit" value="set">
    </form>

    <div align="left" >
        <h1>
            {% trans "Пресса" %}
        </h1>
    </div>

    <hr>

    {# Теперь будем проверять не request.user.is_authenticated, а конкретные права #}
    {% if perms.news.add_post %}
    <a href="{% url 'article_creating' %}">{% trans "Добавить Статью" %}</a>
    <a href="{% url 'news_creating' %}">{% trans "Добавить Новость" %}</a>
    {% endif %}

    {% if posts %}
        <h1>{% trans "Постов на данный момент" %}: {{ posts|length }}</h1>
        <table>
            <tr>
                <td>{% trans "Заголовок" %}</td>
                <td>{% trans "Дата публикации" %}</td>
                <td>{% trans "Содержание" %}</td>
                <td>{% trans "Тип" %}</td>

                {# Условие получается составным. #}
                {% if perms.news.change_post or perms.news.delete_post %}
                <td>{% trans "Действия" %}</td>
                {% endif %}

            </tr>

            {% for post in posts %}
                <tr>
                    <td>"{{ post.heading }}"</td>
                    <td>{{ post.time_in|date:'d M Y' }}</td>
                    <td>{{ post.text_of_post|censor|truncatechars:20 }}</td>
                    <td>{{ post.get_type_of_post_display }}</td>

                    <td>
                        {# А здесь доступ для каждой ссылки теперь будем проверять отдельно #}
                        {% if perms.news.change_post %}
                            {% if post.type_of_post == 'NE'%}
                                <a href="{% url 'news_updating' pk=post.id %}">{% trans "Изменить Новость" %}</a>
                            {% elif post.type_of_post == 'AR' %}
                                <a href="{% url 'article_updating' pk=post.id %}">{% trans "Изменить Статью" %}</a>
                            {% endif %}
                        {% endif %}

                        {% if perms.news.delete_post %}
                            {% if post.type_of_post == 'NE'%}
                                <a href="{% url 'news_deleting' post.id %}">{% trans "Удалить" %}</a>
                            {% elif post.type_of_post == 'AR' %}
                                <a href="{% url 'article_deleting' post.id %}">{% trans "Удалить" %}</a>
                            {% endif %}
                        {% endif %}
                    </td>

                </tr>
            {% endfor %}
        </table>
    {% else %}
        <h2>{% trans "Постов нет!" %}</h2>
    {% endif %}

    {# Добавляем пагинацию на страницу #}

    {% if page_obj.has_previous %}
        {# Для каждой ссылки пагинации указываем обработку через новый тег #}
        <a href="?{% url_replace page=1 %}">1</a>
        {% if page_obj.previous_page_number != 1 %}
            ...
            <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
        {% endif %}
    {% endif %}

    {{ page_obj.number }}

    {% if page_obj.has_next %}
        <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
        {% if paginator.num_pages != page_obj.next_page_number %}
            ...
            <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
        {% endif %}
    {% endif %}

{% endblock content %}