{% extends 'default.html' %}

{% load i18n %}

{% load custom_filters %}

{% load custom_tags %}

{% block title %}
{% trans "Поиск" %}
{% endblock title %}

{% block content %}
 <div align="left" >
        <h1>
            {% trans "Поиск постов" %}
        </h1>
    </div>

    <hr>
    <form action="" method="get">
        {# Переменная, которую мы передали через контекст, может сгенерировать нам форму с полями #}
        {{ filterset.form.as_p }}
        {# Добавим кнопку отправки данных формы #}
        <input type="submit" value="Search" />
    </form>

    {% if posts %}
        <h1>Постов на данный момент: {{ posts|length }}</h1>
        <table>
            <tr>
                <td>{% trans "Заголовок" %}</td>
                <td>{% trans "Дата публикации" %}</td>
                <td>{% trans "Содержание" %}</td>
            </tr>

            {% for post in posts %}
            <tr>
                <td>"{{ post.heading }}"</td>
                <td>{{ post.time_in|date:'d M Y' }}</td>
                <td>{{ post.text_of_post|censor|truncatechars:20 }}</td>
                <td><hr></td>
            </tr>
            {% endfor %}
        </table>
    {% else %}
        <h2>{% trans "Такого(-их) поста(-ов) нет!" %}</h2>
    {% endif %}

    {# Добавляем пагинацию на страницу #}

    {% if page_obj.has_previous %}
        {# Для каждой ссылки пагинации указываем обработку через новый тег #}
        <a href="?{% url_replace page=1 %}">1</a>
        {% if page_obj.previous_page_number != 1 %}
            ...
            <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
        {% endif %}
    {% endif %}

    {{ page_obj.number }}

    {% if page_obj.has_next %}
        <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
        {% if paginator.num_pages != page_obj.next_page_number %}
            ...
            <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
        {% endif %}
    {% endif %}

{% endblock content %}